# .clang-format
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

UseTab: Never
ColumnLimit: 120
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: CaseSensitive
FixNamespaceComments: true
